@mixin flex($direction: row, $justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin custom-select {
  // #{$wrapper} {
  //   position: relative; // The wrapper needs relative positioning to position the arrow correctly
  //   display: inline-block;
    .custom-select {
      border-radius: 8px;
      border-width: 1px;
      padding: 10px;
      cursor: pointer;
      appearance: none;
      position: relative;
      @content;
    }
    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-image: url("../assests/images/downarrow.svg"); /* Use your custom arrow here */
      background-size: 100%;
      pointer-events: none;
    }
  }

@mixin smallMobile {
  @media only screen and (min-width: $smallMobile) {
    @content;
  }
}
@mixin mediumMobile {
  @media only screen and (min-width: $mediumMobile) {
    @content;
  }
}
@mixin largeMobile {
  @media only screen and (min-width: $largeMobile) {
    @content;
  }
}
@mixin smallTablet {
  @media only screen and (min-width: $smallTablet) {
    @content;
  }
}
@mixin tablet_768 {
  @media only screen and (min-width: $tablet_768) {
    @content;
  }
}

// @mixin screen768to1024 {
//   @media only screen and (min-width: $tablet_768) and (max-width: $tabletAndBelow) {
//     @content;
//   }
// }
@mixin tablet_900 {
  @media only screen and (min-width: $tablet_900) {
    @content;
  }
}

@mixin tabletAndAbove {
  @media only screen and (min-width: $tabletAndBelow) {
    @content;
  }
}
@mixin largerLaptop {
  @media only screen and (min-width: $largerLaptop) {
    @content;
  }
}
