$primaryColor:#D62196;
$secondaryColor: #440F7C;
$tertiaryColor:#DACFE5;
$tertiaryColor: #F7D3EA;
$fontSize: 16px;
$fontSize1:12px;
$fontSize2:18px;
$fontFamily:"Poppins", sans-serif;
$fontWeight:500;
//MEDIA QUERY

$smallMobile: 320px;
$mediumMobile:375px;
$largeMobile: 425px;
$tablet_768: 768px;
$tablet_900: 900px;
$tabletAndAbove:1024px;
$largerLaptop:1440px;