@use "../css" as *;

body {
  font: {
    size: $fontSize;
    family: $fontFamily;
    weight: $fontWeight;
  }

  height: 940px;
}

header {
  .nav-bar {
    & .nav-bar-card {
      @include flex;
      width: 100%;
      max-width: 1240px;
      height: 100%;
      max-height: 77.17px;
      margin: 0px auto;
      position: relative;
      top: 20px;
      padding: 20px;
      border-radius: 6px;
      box-shadow: 0 4px 8px rgb(0, 0, 0, 0.06);

      .auth-Links {
        button {
          width: 73px;
          height: 32px;
          border-radius: 6px;
        }
      }

      @include smallMobile {
        flex-direction: row;
        top: 0;

        .logo {
          width: 100%;
          max-width: 100.12px;
        }

        .auth-Links {
          button {
            width: 68px;
            height: 32px;
          }
        }
      }

      @include mediumMobile {
        .logo {
          width: 100%;
          max-width: 130.12px;
        }
      }

      @include largeMobile {
        .logo {
          width: 100%;
          max-width: 156.12px;
        }

        .auth-Links {
          button {
            width: 73px;
            height: 32px;
          }
        }
      }

      @include smallTablet {
        padding: 20px 30px;
      }

      @include tablet_768 {
        width: 100%;
        max-width: 718px;
        height: 100%;
        max-height: 77.17px;
        padding: 20px;
      }

      @include tabletAndAbove {
        width: 100%;
        max-width: 950px;
        height: 100%;
        max-height: 77.17px;
      }

      @include largerLaptop {
        width: 100%;
        max-width: 1240px;
        height: 100%;
        max-height: 77.17px;
      }
    }
  }
}

main {
  .main-section {
    width: 100%;
    max-width: 950px;
    height: 100%;

    border-radius: 6px;
    margin: 0px auto;

    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    position: relative;
    top: 30px;
    color: $SecondaryColor2;

    @include smallMobile {
      border-radius: 0;
      // max-height: 850px;
      padding: 0 16px;
    }
    // @include mediumMobile {
    //   // max-height: 850px;
    // }
    @include tablet_768 {
      display: block;
      width: 100%;
      max-width: 718px;
      height: 100%;
      max-height: 1116px;
      border-radius: 6px;
      gap: 27px;
      padding: 0;
    }

    @include tabletAndAbove {
      width: 100%;
      max-width: 950px;
      height: 100%;
      max-height: 1116px;
      gap: 33px;
    }

    @include largerLaptop {
      width: 100%;
      max-width: 1240px;
      height: 100%;
      max-height: 1116px;
      gap: 33px;
    }

    & .main-card {
      display: flex;
      flex-direction: row;
      gap: 33px;

      font: {
        size: 12px;
        weight: 400;
      }

      line-height: 18px;
      padding: 20px;

      @include smallMobile {
        display: none;
      }

      @include tablet_768 {
        display: flex;
      }
      .main-div {
        display: flex;
        gap: 16px;

        // @include smallMobile{
        //   display: none;
        // }
        @include tablet_768 {
          gap: 8px;
        }
        @include largerLaptop {
          gap: 15px;
        }

        .number {
          position: relative;
          display: inline-block;
          @include custom-select;

          .number-select {
            width: 70px;
            height: 38px;

            @include smallMobile {
              display: none;
            }

            @include tablet_768 {
              position: relative;
              display: inline-block;
              width: 64px;
              padding: 7px 5px;
            }

            @include tabletAndAbove {
              width: 70px;
              padding: 10px;
            }

            @include largerLaptop {
              width: 70px;
            }
          }
        }

        .category {
          position: relative;
          display: inline-block;
          @include custom-select;

          .category-select {
            width: 80px;

            @include smallMobile {
              display: none;
            }

            @include tablet_768 {
              position: relative;
              display: inline-block;
              width: 80px;
            }

            @include tabletAndAbove {
              width: 90px;
            }

            @include largerLaptop {
              width: 90px;
            }
          }
        }

        .job-role {
          position: relative;
          display: inline-block;
          @include custom-select;

          .Job {
            width: 386px;

            @include smallMobile {
              display: none;
            }

            @include tablet_768 {
              position: relative;
              display: inline-block;
              width: 197px;
            }

            @include tabletAndAbove {
              width: 386px;
            }

            @include largerLaptop {
              width: 615px;
            }
          }
        }

        .date {
          position: relative;
          display: inline-block;
          @include custom-select;

          .date-select {
            width: 110px;

            @include smallMobile {
              display: none;
            }

            @include tablet_768 {
              position: relative;
              display: inline-block;
              width: 101px;
            }

            @include tabletAndAbove {
              width: 110px;
            }

            @include largerLaptop {
              width: 115px;
            }
          }
        }
      }

      .main-card-btn {
        display: flex;
        gap: 18px;

        @include tablet_768 {
          gap: 8px;
        }

        @include tabletAndAbove {
          gap: 18px;
        }

        @include largerLaptop {
          gap: 18px;
        }

        a {
          .filter {
            width: 100px;
            height: 38px;
            border: 1px solid $secondaryColor;
            border-radius: 8px;
            padding: 10px;
            background-color: $tertiaryColor;
            color: $secondaryColor;

            @include smallMobile {
              display: none;
            }

            @include tablet_768 {
              display: block;
              width: 92px;
            }

            @include largerLaptop {
              width: 124px;
            }
          }

          .reset {
            width: 85px;
            height: 38px;
            border: 1px solid $secondaryColor;
            border-radius: 8px;
            color: $secondaryColor;

            @include smallMobile {
              display: none;
            }

            @include tablet_768 {
              display: block;
              width: 85px;
              height: 38px;
            }
          }
        }
      }
    }
  }

  .div {
    position: relative;
    left: -10px;

    padding: 15px;

    display: flex;
    @include smallMobile {
      padding: 0px;
    }
    @include tablet_768 {
      height: 100vh;
      padding: 15px;
    }
    @include tabletAndAbove {
      height: 78vh;
    }
    @include largerLaptop {
      height: 100vh;
    }
    .sidebar {
      flex-grow: 2;
      flex-direction: column;

      overflow-y: auto;

      width: 300px;
      flex-shrink: 0;
      // @include tablet_768 {
      //   height: 75vh;
      // }

      img {
        width: 40px;
        @include smallMobile {
          width: 50px;
        }
        @include largeMobile {
          width: 70px;
        }
        @include tablet_768 {
          width: 40px;
        }
        @include largerLaptop {
          width: 40px;
        }
      }

      .sidebar-span-one {
        position: relative;
        bottom: 26px;
        font-size: 14px;
        padding-left: 10px;
        @include smallMobile {
          bottom: 35px;
          font: {
            size: 16px;
            weight: 500;
          }
        }
        @include largeMobile {
          bottom: 50px;
        }
        @include tablet_768 {
          bottom: 26px;
          font-size: 14px;
        }
      }

      .sidebar-span-two {
        font-size: 8px;
        position: relative;
        left: 30px;
        bottom: 25px;
        padding-left: 24px;
        @include smallMobile {
          bottom: 30px;
          padding-left: 35px;
          font: {
            size: $fontSize1;
            weight: 300;
          }
        }
        @include largeMobile {
          padding-left: 55px;
          bottom: 45px;
        }
        @include tablet_768 {
          bottom: 25px;
          padding-left: 24px;
          font: {
            size: 8px;
            weight: 400;
          }
        }
        @include largerLaptop {
          padding-left: 25px;
        }
      }

      .location-price {
        position: relative;
        bottom: 10px;

        padding-left: 52px;
        display: flex;
        gap: 9px;
        @include smallMobile {
          bottom: 20px;
          padding-left: 65px;
        }
        @include largeMobile {
          margin-left: 20px;
          bottom: 30px;
        }
        @include tablet_768 {
          bottom: 10px;
          padding-left: 52px;
          margin-left: 0;
        }
        @include largerLaptop {
          padding-left: 55px;
        }
        .image {
          width: 10px;
          height: 11px;
          left: 32px;
        }

        p {
          font-size: 8px;
          border-radius: 4px;
          bottom: 3px;
          background-color: $tertiary_Color;
          color: $primaryColor;
          padding: 4px 10px;
          @include smallMobile {
            font-size: 10px;
          }
          @include mediumMobile {
            font-size: 12px;
          }
          @include tablet_768 {
            font-size: 8px;
          }
        }
      }
      hr {
        @include largerLaptop {
          margin-top: 12px;
        }
      }
    }
    section {
      @include smallMobile {
        display: none;
      }
      @include smallMobile {
        height: 100vh;
      }
      @include tablet_768 {
        display: block;
      }
      .content-section {
        flex-grow: 10;

        padding-top: 20px;
        padding-left: 20px;
        height: 100vh;
        @include smallMobile {
          height: 85vh;
        }
        @include mediumMobile {
          height: 75vh;
        }
        @include largeMobile {
          height: 80vh;
        }
        @include tablet_768 {
          display: block;
          height: 100vh;
        }

        //   .apply-btn{
        //     margin-top: 20px;
        // }
        .section-div-one {
          display: flex;
          justify-content: space-between;
          gap: 32px;
          align-items: center;
          @include smallMobile {
            justify-content: flex-start;
            gap: 0;
            padding-left: 20px;
          }
          @include tablet_768 {
            justify-content: space-between;
            gap: 32px;
            padding-right: 0px;
            padding-left: 0px;
          }
          .backward {
            @include smallMobile {
              display: block;
            }
            @include tablet_768 {
              display: none;
            }
          }
          h1 {
            font-size: 20px;
            @include tablet_768 {
              font-size: 18px;
            }
            @include largerLaptop {
              font-size: 26px;
            }
          }
          .apply {
            padding: 10px 40px;
            @include smallMobile {
              display: none;
            }
            @include tablet_768 {
              display: block;
            }
          }
        }

        .section-div-two {
          display: flex;
          justify-content: space-between;
          font-size: 11px;
          padding-top: 20px;
          font-size: 14px;
          line-height: 21px;
          @include smallMobile {
            display: block;
          }
          @include tablet_768 {
            display: flex;
          }
          .section-div-two-span {
            @include smallMobile {
              width: 100%;
              font-size: 13px;
            }
            @include tablet_768 {
              width: 200px;
              padding-bottom: 17px;
              font-size: 14px;
            }
            @include tabletAndAbove {
              width: 100%;
            }
          }
          .slash {
            padding: 0 5px;
          }
          p {
            text-wrap: nowrap;
            @include smallMobile {
              margin-top: 10px;
              margin-bottom: 30px;
            }
            @include tablet_768 {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
          .apply-btn {
            position: relative;
            bottom: 10px;

            @include smallMobile {
              padding: 15px 110px;
            }
            @include mediumMobile {
              padding: 15px 140px;
            }
            @include largeMobile {
              padding: 15px 165px;
            }
            @include tablet_768 {
              display: none;
            }
          }
        }
        .main-content {
          overflow-y: auto;
          height: 55vh;

          // @include smallMobile {
          //   // overflow-y: none;
          //   height: 57vh;
          // }
          // @include mediumMobile{
          //   height: 53vh;
          // }
          // @include largeMobile{
          //   height: 39vh;
          // }
          @include tablet_768 {
            overflow-y: auto;
            height: 58vh;
          }
          @include tabletAndAbove {
            height: 42vh;
          }
          @include largerLaptop {
            height: 70vh;
          }
          h2 {
            font: {
              size: 16px;
              weight: 700;
            }
            line-height: 24px;
          }
          & .Job-overview {
            h3 {
              font: {
                size: 13px;
                weight: 700;
              }
              line-height: 19.5px;
            }
            p,
            ul {
              font: {
                size: 13px;
                weight: 400;
              }
              line-height: 19.5px;
            }
          }
        }
      }
    }
  }
}

footer {
  .footer {
    & .footer-card {
      @include flex;
      width: 100%;
      max-width: 1240px;
      position: relative;
      height: 100%;
      max-height: 64px;
      margin: 0px auto;
      padding: 20px;
      top: 100px;
      @include smallMobile {
        top: 70px;
      }
      @include tablet_768 {
        top: 100px;
      }

      font: {
        size: $fontSize1;
        weight: 400;
      }

      line-height: 24px;
      border-radius: 6px;
      box-shadow: 0 4px 8px rgb(0, 0, 0, 0.06);
      background-color: $secondaryColor;

      @include smallMobile {
        flex-direction: column;

        border-radius: 0px;
        height: 100%;
        max-height: 130.17px;
      }

      @include tablet_768 {
        flex-direction: row;
        max-width: 717px;
        max-height: 77.17px;
        border-radius: 6px;
      }

      @include tabletAndAbove {
        max-width: 950px;
      }

      @include largerLaptop {
        max-width: 1240px;
      }
    }

    p {
      color: white;
      order: 2;

      @include smallMobile {
        padding-top: 5px;
      }

      @include tablet_768 {
        order: 1;
      }
    }

    .footer-Links {
      display: flex;
      gap: 17px;
      order: 1;
      padding-bottom: 5px;
      color: white;
    }

    .socials {
      display: flex;
      gap: 17px;

      @include smallMobile {
        gap: 10px;
        order: 1;
        padding-top: 5px;
      }

      @include tablet_768 {
        gap: 17px;
      }
    }
  }
}
