* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-primary {
  background-color: #D62196;
}

.bg-tertiary {
  background-color: #F7D3EA;
}

.btn {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.37px;
  padding: 5px 15px;
  border-radius: 8px;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #D62196;
  border: 1px solid #D62196;
  color: #fff;
  font-size: 12px;
}
.btn-primary:hover {
  background-color: #440F7C;
  color: #D62196;
}

.btn-secondary {
  background-color: #440F7C;
  border: 1px solid #440F7C;
  color: #fff;
  font-size: 12px;
}
.btn-secondary:hover {
  background-color: #D62196;
  color: #440F7C;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.bb {
  border-bottom: 1px solid;
}

.backward {
  padding: 0 !important;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-none {
  display: none;
}

.job-listing:hover {
  background-color: #DACFE5;
}
.job-listing:active {
  background-color: #DACFE5;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-5 {
  margin-left: 20px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.p-1-15 {
  padding: 20px 15px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pt-5 {
  padding-top: 20px;
}

.text-primary {
  color: #D62196;
}

.text-tertiary {
  color: #F7D3EA;
}

.text-white {
  color: #fff;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

header .nav-bar .nav-bar-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  max-height: 77.17px;
  margin: 0px auto;
  position: relative;
  top: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}
header .nav-bar .nav-bar-card .auth-Links button {
  width: 73px;
  height: 32px;
  border-radius: 6px;
}
@media only screen and (min-width: 320px) {
  header .nav-bar .nav-bar-card {
    flex-direction: row;
    top: 0;
  }
  header .nav-bar .nav-bar-card .logo {
    width: 100%;
    max-width: 100.12px;
  }
  header .nav-bar .nav-bar-card .auth-Links button {
    width: 68px;
    height: 32px;
  }
}
@media only screen and (min-width: 375px) {
  header .nav-bar .nav-bar-card .logo {
    width: 100%;
    max-width: 130.12px;
  }
}
@media only screen and (min-width: 425px) {
  header .nav-bar .nav-bar-card .logo {
    width: 100%;
    max-width: 156.12px;
  }
  header .nav-bar .nav-bar-card .auth-Links button {
    width: 73px;
    height: 32px;
  }
}
@media only screen and (min-width: 540px) {
  header .nav-bar .nav-bar-card {
    padding: 20px 30px;
  }
}
@media only screen and (min-width: 768px) {
  header .nav-bar .nav-bar-card {
    width: 100%;
    max-width: 718px;
    height: 100%;
    max-height: 77.17px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  header .nav-bar .nav-bar-card {
    width: 100%;
    max-width: 950px;
    height: 100%;
    max-height: 77.17px;
  }
}
@media only screen and (min-width: 1440px) {
  header .nav-bar .nav-bar-card {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    max-height: 77.17px;
  }
}

main .main-section {
  width: 100%;
  max-width: 950px;
  height: 100%;
  border-radius: 6px;
  margin: 0px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 30px;
  color: #5E5873;
}
@media only screen and (min-width: 320px) {
  main .main-section {
    border-radius: 0;
  }
}
@media only screen and (min-width: 768px) {
  main .main-section {
    display: block;
    width: 100%;
    max-width: 718px;
    height: 100%;
    max-height: 1116px;
    border-radius: 6px;
    gap: 27px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-section {
    width: 100%;
    max-width: 950px;
    height: 100%;
    max-height: 1116px;
    gap: 33px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-section {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    max-height: 1116px;
    gap: 33px;
  }
}
main .main-section .main-card {
  display: flex;
  flex-direction: row;
  gap: 33px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 20px;
}
@media only screen and (min-width: 320px) {
  main .main-section .main-card {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card {
    display: flex;
  }
}
main .main-section .main-card .main-div {
  display: flex;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card .main-div {
    gap: 8px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-section .main-card .main-div {
    gap: 15px;
  }
}
main .main-section .main-card .main-div .number {
  position: relative;
  display: inline-block;
}
main .main-section .main-card .main-div .number .custom-select {
  border-radius: 8px;
  border-width: 1px;
  padding: 10px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
main .main-section .main-card .main-div .number::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../assests/images/downarrow.svg"); /* Use your custom arrow here */
  background-size: 100%;
  pointer-events: none;
}
main .main-section .main-card .main-div .number .number-select {
  width: 70px;
  height: 38px;
}
@media only screen and (min-width: 320px) {
  main .main-section .main-card .main-div .number .number-select {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card .main-div .number .number-select {
    position: relative;
    display: inline-block;
    width: 64px;
    padding: 7px 5px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-section .main-card .main-div .number .number-select {
    width: 70px;
    padding: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-section .main-card .main-div .number .number-select {
    width: 70px;
  }
}
main .main-section .main-card .main-div .category {
  position: relative;
  display: inline-block;
}
main .main-section .main-card .main-div .category .custom-select {
  border-radius: 8px;
  border-width: 1px;
  padding: 10px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
main .main-section .main-card .main-div .category::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../assests/images/downarrow.svg"); /* Use your custom arrow here */
  background-size: 100%;
  pointer-events: none;
}
main .main-section .main-card .main-div .category .category-select {
  width: 80px;
}
@media only screen and (min-width: 320px) {
  main .main-section .main-card .main-div .category .category-select {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card .main-div .category .category-select {
    position: relative;
    display: inline-block;
    width: 80px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-section .main-card .main-div .category .category-select {
    width: 90px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-section .main-card .main-div .category .category-select {
    width: 90px;
  }
}
main .main-section .main-card .main-div .job-role {
  position: relative;
  display: inline-block;
}
main .main-section .main-card .main-div .job-role .custom-select {
  border-radius: 8px;
  border-width: 1px;
  padding: 10px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
main .main-section .main-card .main-div .job-role::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../assests/images/downarrow.svg"); /* Use your custom arrow here */
  background-size: 100%;
  pointer-events: none;
}
main .main-section .main-card .main-div .job-role .Job {
  width: 386px;
}
@media only screen and (min-width: 320px) {
  main .main-section .main-card .main-div .job-role .Job {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card .main-div .job-role .Job {
    position: relative;
    display: inline-block;
    width: 197px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-section .main-card .main-div .job-role .Job {
    width: 386px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-section .main-card .main-div .job-role .Job {
    width: 615px;
  }
}
main .main-section .main-card .main-div .date {
  position: relative;
  display: inline-block;
}
main .main-section .main-card .main-div .date .custom-select {
  border-radius: 8px;
  border-width: 1px;
  padding: 10px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
main .main-section .main-card .main-div .date::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../assests/images/downarrow.svg"); /* Use your custom arrow here */
  background-size: 100%;
  pointer-events: none;
}
main .main-section .main-card .main-div .date .date-select {
  width: 110px;
}
@media only screen and (min-width: 320px) {
  main .main-section .main-card .main-div .date .date-select {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card .main-div .date .date-select {
    position: relative;
    display: inline-block;
    width: 101px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-section .main-card .main-div .date .date-select {
    width: 110px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-section .main-card .main-div .date .date-select {
    width: 115px;
  }
}
main .main-section .main-card .main-card-btn {
  display: flex;
  gap: 18px;
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card .main-card-btn {
    gap: 8px;
  }
}
@media only screen and (min-width: 1024px) {
  main .main-section .main-card .main-card-btn {
    gap: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-section .main-card .main-card-btn {
    gap: 18px;
  }
}
main .main-section .main-card .main-card-btn a .filter {
  width: 100px;
  height: 38px;
  border: 1px solid #440F7C;
  border-radius: 8px;
  padding: 10px;
  background-color: #DACFE5;
  color: #440F7C;
}
@media only screen and (min-width: 320px) {
  main .main-section .main-card .main-card-btn a .filter {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card .main-card-btn a .filter {
    display: block;
    width: 92px;
  }
}
@media only screen and (min-width: 1440px) {
  main .main-section .main-card .main-card-btn a .filter {
    width: 124px;
  }
}
main .main-section .main-card .main-card-btn a .reset {
  width: 85px;
  height: 38px;
  border: 1px solid #440F7C;
  border-radius: 8px;
  color: #440F7C;
}
@media only screen and (min-width: 320px) {
  main .main-section .main-card .main-card-btn a .reset {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .main-section .main-card .main-card-btn a .reset {
    display: block;
    width: 85px;
    height: 38px;
  }
}
main .div {
  position: relative;
  left: -10px;
  padding: 15px;
  display: flex;
  height: 100vh;
}
@media only screen and (min-width: 320px) {
  main .div {
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  main .div {
    height: 100vh;
  }
}
@media only screen and (min-width: 1024px) {
  main .div {
    height: 78vh;
  }
}
@media only screen and (min-width: 1440px) {
  main .div {
    height: 100vh;
  }
}
main .div .sidebar {
  flex-grow: 2;
  flex-direction: column;
  overflow-y: auto;
  width: 300px;
  flex-shrink: 0;
}
@media only screen and (min-width: 768px) {
  main .div .sidebar {
    height: 75vh;
  }
}
main .div .sidebar img {
  width: 40px;
}
@media only screen and (min-width: 320px) {
  main .div .sidebar img {
    width: 50px;
  }
}
@media only screen and (min-width: 425px) {
  main .div .sidebar img {
    width: 70px;
  }
}
@media only screen and (min-width: 768px) {
  main .div .sidebar img {
    width: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  main .div .sidebar img {
    width: 40px;
  }
}
main .div .sidebar .sidebar-span-one {
  position: relative;
  bottom: 26px;
  font-size: 14px;
  padding-left: 10px;
}
@media only screen and (min-width: 320px) {
  main .div .sidebar .sidebar-span-one {
    bottom: 35px;
    font-size: 16px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 425px) {
  main .div .sidebar .sidebar-span-one {
    bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  main .div .sidebar .sidebar-span-one {
    bottom: 26px;
    font-size: 14px;
  }
}
main .div .sidebar .sidebar-span-two {
  font-size: 8px;
  position: relative;
  left: 30px;
  bottom: 25px;
  padding-left: 24px;
}
@media only screen and (min-width: 320px) {
  main .div .sidebar .sidebar-span-two {
    bottom: 30px;
    padding-left: 35px;
    font-size: 12px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 425px) {
  main .div .sidebar .sidebar-span-two {
    padding-left: 55px;
    bottom: 45px;
  }
}
@media only screen and (min-width: 768px) {
  main .div .sidebar .sidebar-span-two {
    bottom: 25px;
    padding-left: 24px;
    font-size: 8px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1440px) {
  main .div .sidebar .sidebar-span-two {
    padding-left: 25px;
  }
}
main .div .sidebar .location-price {
  position: relative;
  bottom: 10px;
  padding-left: 52px;
  display: flex;
  gap: 9px;
}
@media only screen and (min-width: 320px) {
  main .div .sidebar .location-price {
    bottom: 20px;
    padding-left: 65px;
  }
}
@media only screen and (min-width: 425px) {
  main .div .sidebar .location-price {
    margin-left: 20px;
    bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  main .div .sidebar .location-price {
    bottom: 10px;
    padding-left: 52px;
    margin-left: 0;
  }
}
@media only screen and (min-width: 1440px) {
  main .div .sidebar .location-price {
    padding-left: 55px;
  }
}
main .div .sidebar .location-price .image {
  width: 10px;
  height: 11px;
  left: 32px;
}
main .div .sidebar .location-price p {
  font-size: 8px;
  border-radius: 4px;
  bottom: 3px;
  background-color: #F7D3EA;
  color: #D62196;
  padding: 4px 10px;
}
@media only screen and (min-width: 320px) {
  main .div .sidebar .location-price p {
    font-size: 10px;
  }
}
@media only screen and (min-width: 375px) {
  main .div .sidebar .location-price p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  main .div .sidebar .location-price p {
    font-size: 8px;
  }
}
@media only screen and (min-width: 1440px) {
  main .div .sidebar hr {
    margin-top: 12px;
  }
}
@media only screen and (min-width: 320px) {
  main .div section {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .div section {
    display: block;
  }
}
main .div section .content-section {
  flex-grow: 10;
  padding-top: 20px;
  padding-left: 20px;
  height: 100vh;
}
@media only screen and (min-width: 320px) {
  main .div section .content-section {
    height: 85vh;
  }
}
@media only screen and (min-width: 375px) {
  main .div section .content-section {
    height: 75vh;
  }
}
@media only screen and (min-width: 425px) {
  main .div section .content-section {
    height: 80vh;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section {
    display: block;
    height: 100vh;
  }
}
main .div section .content-section .section-div-one {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}
@media only screen and (min-width: 320px) {
  main .div section .content-section .section-div-one {
    justify-content: center;
    gap: 0;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .section-div-one {
    justify-content: space-between;
    gap: 32px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 320px) {
  main .div section .content-section .section-div-one .backward {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .section-div-one .backward {
    display: none;
  }
}
main .div section .content-section .section-div-one h1 {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .section-div-one h1 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  main .div section .content-section .section-div-one h1 {
    font-size: 26px;
  }
}
main .div section .content-section .section-div-one .apply {
  padding: 10px 40px;
}
@media only screen and (min-width: 320px) {
  main .div section .content-section .section-div-one .apply {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .section-div-one .apply {
    display: block;
  }
}
main .div section .content-section .section-div-two {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 21px;
}
@media only screen and (min-width: 320px) {
  main .div section .content-section .section-div-two {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .section-div-two {
    display: flex;
  }
}
@media only screen and (min-width: 320px) {
  main .div section .content-section .section-div-two .section-div-two-span {
    width: 100%;
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .section-div-two .section-div-two-span {
    width: 200px;
    padding-bottom: 17px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) {
  main .div section .content-section .section-div-two .section-div-two-span {
    width: 100%;
  }
}
main .div section .content-section .section-div-two .slash {
  padding: 0 5px;
}
main .div section .content-section .section-div-two p {
  text-wrap: nowrap;
}
@media only screen and (min-width: 320px) {
  main .div section .content-section .section-div-two p {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .section-div-two p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
main .div section .content-section .section-div-two .apply-btn {
  position: relative;
  bottom: 10px;
}
@media only screen and (min-width: 320px) {
  main .div section .content-section .section-div-two .apply-btn {
    padding: 10px 120px;
  }
}
@media only screen and (min-width: 375px) {
  main .div section .content-section .section-div-two .apply-btn {
    padding: 10px 140px;
  }
}
@media only screen and (min-width: 425px) {
  main .div section .content-section .section-div-two .apply-btn {
    padding: 10px 165px;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .section-div-two .apply-btn {
    display: none;
  }
}
main .div section .content-section .main-content {
  overflow-y: auto;
  height: 55vh;
}
@media only screen and (min-width: 320px) {
  main .div section .content-section .main-content {
    height: 40vh;
  }
}
@media only screen and (min-width: 375px) {
  main .div section .content-section .main-content {
    height: 30vh;
  }
}
@media only screen and (min-width: 425px) {
  main .div section .content-section .main-content {
    height: 35vh;
  }
}
@media only screen and (min-width: 768px) {
  main .div section .content-section .main-content {
    overflow-y: auto;
    height: 55vh;
  }
}
@media only screen and (min-width: 1024px) {
  main .div section .content-section .main-content {
    height: 48vh;
  }
}
@media only screen and (min-width: 1440px) {
  main .div section .content-section .main-content {
    height: 70vh;
  }
}
main .div section .content-section .main-content h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
main .div section .content-section .main-content .Job-overview h3 {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
}
main .div section .content-section .main-content .Job-overview p,
main .div section .content-section .main-content .Job-overview ul {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}

footer .footer .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1240px;
  position: relative;
  height: 100%;
  max-height: 64px;
  margin: 0px auto;
  padding: 20px;
  top: 100px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: #440F7C;
}
@media only screen and (min-width: 320px) {
  footer .footer .footer-card {
    top: 70px;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer .footer-card {
    top: 100px;
  }
}
@media only screen and (min-width: 320px) {
  footer .footer .footer-card {
    flex-direction: column;
    border-radius: 0px;
    height: 100%;
    max-height: 130.17px;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer .footer-card {
    flex-direction: row;
    max-width: 717px;
    max-height: 77.17px;
    border-radius: 6px;
  }
}
@media only screen and (min-width: 1024px) {
  footer .footer .footer-card {
    max-width: 950px;
  }
}
@media only screen and (min-width: 1440px) {
  footer .footer .footer-card {
    max-width: 1240px;
  }
}
footer .footer p {
  color: white;
  order: 2;
}
@media only screen and (min-width: 320px) {
  footer .footer p {
    padding-top: 5px;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer p {
    order: 1;
  }
}
footer .footer .footer-Links {
  display: flex;
  gap: 17px;
  order: 1;
  padding-bottom: 5px;
  color: white;
}
footer .footer .socials {
  display: flex;
  gap: 17px;
}
@media only screen and (min-width: 320px) {
  footer .footer .socials {
    gap: 10px;
    order: 1;
    padding-top: 5px;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer .socials {
    gap: 17px;
  }
}/*# sourceMappingURL=global.css.map */